
body {
  color:#6e6e6e;
  font-size: 17px;
line-height: 23px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow-x: hidden;

  /****************/
}
/* preloader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1001;
}

  

  #loader-wrapper .loader-section {
      position: fixed;
      top: 0;
      width: 51%;
      height: 100%;
      background: #fff;
      z-index: 1000;
      -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(0);  /* IE 9 */
      transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
  }

  #loader-wrapper .loader-section.section-left {
      left: 0;
  }

  #loader-wrapper .loader-section.section-right {
      right: 0;
  }

  /* Loaded */
  .loaded #loader-wrapper .loader-section.section-left {
      -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(-100%);  /* IE 9 */
              transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
              -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
              transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-right {
      -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(100%);  /* IE 9 */
              transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
      -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  .loaded #loader {
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;  
              -o-transition: all 0.3s ease-out;  
              transition: all 0.3s ease-out;
  }
  .loaded #loader-wrapper {
      visibility: hidden;

      -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateY(-100%);  /* IE 9 */
              transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.3s 1s ease-out;  
              -o-transition: all 0.3s 1s ease-out;  
              transition: all 0.3s 1s ease-out;
  }
  
  /* JavaScript Turned Off */
  .no-js #loader-wrapper {
      display: none;
  }
  .no-js h1 {
      color: #222222;
  }

  #content {
      margin: 0 auto;
      padding-bottom: 50px;
      width: 80%;
      max-width: 978px;
  }  

h1 {

}
h2 {
  font-size: 53px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}
.home3 h2 {
  color:#fff;
  margin-bottom:30px;
}
h3 {
  font-size: 43px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  color:#583186;
}

.home2 h3 {
  color:#0946ab;
}
h4 {
  font-size: 17px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  color:#6e6e6e;
}
.home3 h3, .home3 h4 {
  color:#fff;
}
h5 {

}
h6 {

}
ul {

}
ul li {

}
ul li ul {

}
ul li ul li {

}
ul li ol {

}
ul li ol li {

}
ol {

}
ol li {

}
ol li ol {

}
ol li ol li {

}
ol li ul {

}
ol li ul li {

}


strong {
  font-weight: 700
}
a {
  color: #e0413d;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  outline: 0;
}

a:hover {
  color:#ff9000;
  text-decoration: none;
}
.form-group input, input, textarea {
  background: rgba(255, 255, 255, 1);
  padding: 14px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: uppercase;
  font-weight: 300;
}
.form-control:focus {
  border:1px solid #bfbfbf;
  -webkit-box-shadow: none;
          box-shadow: none;
}
blockquote {
}
blockquote span {
}

/* HELPER CLASSES */
.padding-right {
  padding-right: 50px;
}
.margin-right {
  margin-right: 10px;
}
.margin-left {
  margin-left:10px;
}
.alignright {
  float: right;
  margin: 0px 0 10px 10px;
}
.alignleft {
  float: left;
  margin: 0px 10px 10px 0;
}
.aligncenter {
  margin: 10px auto;
}
img.notfull {
  width: auto;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left
}
.text-center {
  text-align: center;
}
/* back to top */

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #f9356c url(http://mrb.iwkz.de/images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  -o-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  z-index: 9999;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  -o-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

.cd-top:hover {
  background-color: #ff0048;
  opacity: 1;
}

.cd-nugget-info {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-nugget-info a {
  position: relative;
  font-size: 14px;
  color: #e86256;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.cd-nugget-info a:hover {
  opacity: .8;
}
.cd-nugget-info span {
  vertical-align: middle;
  display: inline-block;
}
.cd-nugget-info span svg {
  display: block;
}
.cd-nugget-info .cd-nugget-info-arrow {
  fill: #e86256;
}
.container-fluid .container {
  padding-left: 0px;
  padding-right: 0px;
}
/* gradient */
.button {
  width: 230px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.navbar .button {
  width:150px;
}
.button:hover {
  background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.button:focus {
  outline: none;
}
.button.gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#f6435d), color-stop(#EA384D), color-stop(#6c1cd8), to(#7b28e5));
  background-image: -webkit-linear-gradient(left, #f6435d, #EA384D, #6c1cd8, #7b28e5);
  background-image: -o-linear-gradient(left, #f6435d, #EA384D, #6c1cd8, #7b28e5);
  background-image: linear-gradient(to right, #f6435d, #EA384D, #6c1cd8, #7b28e5);
  -webkit-box-shadow: 0px 10px 12px rgba(0,0,0,0.15);
-ms-box-shadow: 0px 10px 12px rgba(0,0,0,0.15);
-o-box-shadow: 0px 10px 12px rgba(0,0,0,0.15);
box-shadow: 0px 10px 12px rgba(0,0,0,0.15);
}

.home2 .button.gradient{
  background-image: -webkit-gradient(linear, left top, right top, from(#f8356d), color-stop(#e6438f), color-stop(#2b72e6), to(#0946ab));
  background-image: -webkit-linear-gradient(left, #f8356d, #e6438f, #2b72e6, #0946ab);
  background-image: -o-linear-gradient(left, #f8356d, #e6438f, #2b72e6, #0946ab);
  background-image: linear-gradient(to right, #f8356d, #e6438f, #2b72e6, #0946ab);
}
.navbar .button.gradient {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.navbar .button.gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#f9356c), color-stop(51%, #ff0048), to(#f9356c));
  background-image: -webkit-linear-gradient(left, #f9356c 0%, #ff0048 51%, #f9356c 100%);
  background-image: -o-linear-gradient(left, #f9356c 0%, #ff0048 51%, #f9356c 100%);
  background-image: linear-gradient(to right, #f9356c 0%, #ff0048 51%, #f9356c 100%)
}
.navbar .button.gradient a {
  display: block;
  padding: 12px 15px;
  color:#fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color:#ff5d8a;
}

/* NAVIGATION */
.navbar-light .navbar-nav {
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-shadow: none;
}
.navbar-light .navbar-toggler {
  color:#fff;
  border-color:#fff;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler-icon:focus {
  outline: none;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color:#ff5d8a;
  text-shadow: none;
}
.navbar-light .navbar-nav .nav-item {
  position: relative;
  padding: 0 12px;
}
.navbar-brand {
  margin-right: 9rem
}

.navbar-light .navbar-nav .nav-item:last-child::after {
  content:"";
}
.navbar-light .navbar-nav .nav-link {
  color:#fff;
}
.navbar .button.gradient {
  display: none!important;
}
.navbar.fixed-top .button.gradient {
  display: block!important;
}
.fixed-top {
  background: rgba(108, 28, 216, 0.9);
  margin-left: auto;
  margin-right: auto;
  width: 85.5%
}
.home2 .fixed-top {
  background:rgba(41, 112, 229, 0.9);
}

.fixed-top.navbar {
  padding:13px 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.dropdown-menu.fade {
  display: block;
  opacity: 0;
  pointer-events: none;
}

.show > .dropdown-menu.fade {
  pointer-events: auto;
  opacity: 1;
}
@media (min-width: 991px) {
  .fixed-top.navbar::after {
    border-radius: 50%;
    bottom: 1%;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    content: '';
    height: 10%;
    left: 2%;
    position: absolute;
    width: 96%;
    z-index: 1;
    bottom: -1px;
  }
  .dropdown-menu {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  border:1px solid #eeeeee;
  border-top: 2px solid #f6435d;
  max-height: 0;
  display: block;
  opacity: 0;
    -webkit-box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    -ms-box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    border-radius: 0 0 .25rem .25rem;
    position: relative;
  }

  .dropdown:hover>.dropdown-menu {
    max-height: 500px;
      opacity: 1;
  }
  .dropdown-menu::before {
      content: "";
      position: absolute;
      top:-6px;
      left:10%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #f6435d;
      z-index: 100;
  }
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  z-index:9999;
  left:20px;
  top:45px;
  font-size: 14px;
}
.dropdown-item {
  padding: .5rem 1rem;
  border-bottom: 1px solid #eeeeee
}
.dropdown-item:last-of-type {
  border-bottom: none;
  border-radius: 0 0 .25rem .25rem
}

.dropdown-item:focus, .dropdown-item:hover {
  background:#f6435d;
  color:#fff
}
.dropdown-menu {
  padding:0px
}


/* HOMEPAGE HERO IMAGE */
header {
  padding-top: 50px;
  background: transparent;
  position: absolute;
  z-index: 999;
  width: 100%;
}

.image-header {
  
  background:
  -webkit-gradient(
    linear, 
    left top, left bottom, 
    from (rgba(255,57,46, 0.8)),
    from(rgba(255,178,174, 1)), 
  ),
  url(http://mrb.iwkz.de/images/masjid.jpg) no-repeat;
  background:
  -webkit-linear-gradient(
    rgba(255,57,46, 0.8),
    rgba(255,178,174, 1)
    
  ),
  url(http://mrb.iwkz.de/images/masjid.jpg) no-repeat;
  background:
  -o-linear-gradient(
    rgba(255,57,46, 0.8),
    rgba(255,178,174, 1)
  ),
  url(http://mrb.iwkz.de/images/masjid.jpg) no-repeat;
  background:
  -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(255,57,46, 0.8)),
    to(rgba(255,178,174, 1))
  ),
  url(http://mrb.iwkz.de/images/masjid.jpg) no-repeat;
  background:
  -webkit-linear-gradient(
    rgba(255,57,46, 0.8),
    rgba(255,178,174, 1)
  ),
  url(http://mrb.iwkz.de/images/masjid.jpg) no-repeat;
  background:
  linear-gradient(
    rgba(255,57,46, 0.8),
    rgba(255,178,174, 1)
  ),
  url(http://mrb.iwkz.de/images/masjid.jpg) no-repeat;
  min-height: 70vh;
  position: relative;
  background-size:cover;
  overflow:hidden;
}
.home2 .image-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4985f5+0,175bd9+100 */

  background:
  -webkit-gradient(
    linear, 
    left top, left bottom, 
    from (rgba(24, 106, 243, 0.8)),
    from(rgba(95, 232, 201, 1)), 
  ),
  url(http://mrb.iwkz.de/images/masjid.jpg) no-repeat;
  background:
  -webkit-linear-gradient(
    rgba(24, 106, 243, 0.8),
    rgba(95, 232, 201, 1)
    
  ),
  url(http://mrb.iwkz.de/images/masjid.jpg) no-repeat;
  background:
  -o-linear-gradient(
    rgba(24, 106, 243, 0.8),
    rgba(95, 232, 201, 1)
  ),
  url(http://mrb.iwkz.de/images/masjid.jpg) no-repeat;
  background:
  -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(24, 106, 243, 0.8)),
    to(rgba(95, 232, 201, 1))
  ),
  url(http://mrb.iwkz.de/images/masjid.jpg) no-repeat;
  background:
  -webkit-linear-gradient(
    rgba(24, 106, 243, 0.8),
    rgba(95, 232, 201, 1)
  ),
  url(http://mrb.iwkz.de/images/masjid.jpg) no-repeat;
  background:
  linear-gradient(
    rgba(24, 106, 243, 0.8),
    rgba(95, 232, 201, 1)
  ),
  url(http://mrb.iwkz.de/images/masjid.jpg) no-repeat;
  min-height: 880px;
  position: relative;
  background-size:cover;
  overflow:hidden;
}

.wrapper {
  -webkit-box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  -ms-box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  -o-box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  border-radius: 5px; 
  padding: 5px;
}
.container-fluid {
  padding-right: 7%;
  padding-left: 7%;
 margin-top: 2%;
}

.progress-bar {
  background-color:#6c1cd8;
}
.progress {
  margin-top: 10px;
  height: 1.5rem;
  font-size: 0rem;
  -webkit-box-shadow: 0px 10px 12px rgba(0,0,0,0.15);
  -ms-box-shadow: 0px 10px 12px rgba(0,0,0,0.15);
  -o-box-shadow: 0px 10px 12px rgba(0,0,0,0.15);
  box-shadow: 0px 10px 12px rgba(0,0,0,0.15);
  border-radius: 1rem;
}
.main-image img {
  position: absolute;
  left: -30px;
  top: 15%;
}
.home2 .main-image img {
  left:0px;
  z-index: 3;;
  top:21%;
}
.under-hero {
  width: 100%;
margin-top: -260px;
position: relative;
}
.home2 .under-hero {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,60e8c9+15&0+0,1+36 */ /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(96,232,201,0.42) 15%,rgba(96,232,201,1) 36%); /* Chrome10-25,Safari5.1-6 */
background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)),color-stop(15%, rgba(96,232,201,0.42)),color-stop(36%, rgba(96,232,201,1)));
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(96,232,201,0.42) 15%,rgba(96,232,201,1) 36%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(96,232,201,0.42) 15%,rgba(96,232,201,1) 36%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#60e8c9',GradientType=0 ); /* IE6-9 */
}
.cta {
  padding-top: 150px;
  font-size: 18px;
  line-height: 26px;
  color:#fff;
}
.cta h2 {
  font-family: 'PT Sans', sans-serif;
  color:#fff;
  font-size: 63px;
  font-weight: 700;
}
.home2 .cta h2 {
  font-size: 53px;
  margin: 40px 0 20px 0;
}
.sup-progress {
  font-size: 35px;
  font-weight: 700;
  padding-top: 50px;
  height: 90px;
}
.sup-progress .alignleft, .sup-progress .alignright {
  margin-bottom: 0px;
}
.sup-progress .alignright {
  margin-top: -20px;
  position: relative;
}
.sup-progress::after {
  background:url(http://mrb.iwkz.de/images/goal-bg.png) no-repeat;
  width: 14px;
  height: 33px;
  display: block;
  position: absolute;
  right:30px;
  top:265px;
}
.sup-progress span {
  font-size: 15px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}
.sup-progress .alignright {
  text-transform: uppercase;
  font-size: 23px;
}
.sup-progress .alignright span {
  text-align: right;
  font-size: 15px;
  display: block
}
.sub-progress {
  font-size: 23px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  padding-top: 15px;
}
.progress-bar-striped {
  background-size: 8px 8px;
}
.help-us {
  margin-bottom: 110px;
  position: relative;
  z-index: 10;
}
.help-us .button {
  margin:100px 0 0 0;
  float: left;
  padding: 15px;
}
.home2 .help-us .button {
  margin-top: 50px;
}
.home2 .medical-proof .help-us .button {
  margin: 50px auto;
  float: none;;
}
.help-us .button a{
  color:#fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
}
.help-us .button a span {
  font-size: 13px;
  font-family: "Lato", sans-serif;
  text-transform: lowercase;
  font-weight: 300;
  display: block;
  line-height: 10px;
  padding-left: 40px
}
.button i {
  padding-right: 10px;
}
.help-us .share {
width: 50%;
float: left;
margin: 100px 0 0 0;
}
.home2 .help-us .share {
  margin-top: 50px;
}
.help-us .share li {
  list-style: none;
  display: inline-block
}
.help-us .share li.title h3, .help-us .share li.title {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
line-height: 26px;
color:#fff;
}
.help-us .share li a {
  color:#fff;
  font-size: 25px;
  padding-right: 25px;
}
body.home3 {
  background:#232d39;
  border: 5px solid #fff;
  color:#fff;
  height: 100vh;
}

.home3 .image-header {
  background: -webkit-gradient( linear, left top, right top, from (rgba(35, 45, 57, 0)), from(rgba(35, 45, 57, 1)), ), url(http://mrb.iwkz.de/images/masjid3.jpg) no-repeat;
  background: -webkit-linear-gradient( rgba(35, 45, 57, 0), rgba(35, 45, 57, 1) ), url(http://mrb.iwkz.de/images/masjid3.jpg) no-repeat;
  background: -o-linear-gradient( rgba(35, 45, 57, 0), rgba(35, 45, 57, 1) ), url(http://mrb.iwkz.de/images/masjid3.jpg) no-repeat;
  background: -webkit-gradient( linear, left top, left bottom, from(rgba(35, 45, 57, 0)), to(rgba(35, 45, 57, 1)) ), url(http://mrb.iwkz.de/images/masjid3.jpg) no-repeat;
  background: linear-gradient( rgba(35, 45, 57, 0), rgba(35, 45, 57, 1) ), url(http://mrb.iwkz.de/images/masjid3.jpg) no-repeat;
  background-size: auto auto, auto auto;
  max-height: 100vh;
  position: relative;
  background-size: cover;
  overflow: hidden;
  padding-top: 40px;
  border:none;
}
.home3 .container-fluid {
  margin-top: 0px;
}

.choice{
  margin: 50px 0;
}
.choice h4 {
  margin-top: 10px;
}
.home3 form {
  margin-top: 50px;
}
.donation-amount {
  margin-top: 50px;
}
.donation-amount input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
  display: none;
}
.home3 .form-group.selected {
  background-color: #f9356c;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}
.donation-amount label {
  text-align: center;
  cursor: pointer;

  padding: 0px;
  border:1px solid rgba(255, 255, 255, 0.2);
  display: block;
  margin-bottom: 0px;

  padding: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 25px;
  border-radius: 5px;
}
.donation-amount label.after-input {
  padding: 14px;
}
.donation-amount label.after-input input {
  background:transparent;
  border:none;
  font-size: 23px;
  color:#fff;
  padding: 0;
  
}
.donation-amount .form-group {
  border: none;
  border-right: none;
  overflow: hidden;
}
.donation-amount .form-group:last-of-type {
    border-right: none;
}
.home3 .description {
  background: rgba(39,49,60,0.7);
  padding: 40px;
  width: 90%;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  border-radius: 5px
}
.donate label {
  display: none;
}
.donate .form-group {
  margin-bottom: 20px;
}
.donate .form-group input, .donate .form-group textarea {
font-size: 14px;
font-weight: 500;
color:#000;
}
.donate .form-group textarea {
  padding: 20px 10px;
}
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* SWITCH FOR HOMEPAGE 3 */

.switch {
  position: relative;
  
  height: 46px;
  width: 100%;
  background: #27313c;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 50%;
  line-height: 26px;
  font-size: 18px;
  color:#fff;;
  text-align: center;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  padding-top: 8px;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
  Note: using adjacent or general sibling selectors 
  combined with pseudo classes doesn't work in Safari 
  5.0 and Chrome 12.
  See this article for more info and a potential fix: 
  https://css-tricks.com/webkit-sibling-bug/
*/

.switch-input {
  display: none;
  
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  
}

.switch-input:checked + .switch-label-off ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 49.5%;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 1px;
  left: 2px;
  width: 50%;
  height: 44px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(left, #f61957, #f9356c);
  background-image: -o-linear-gradient(left, #f61957, #f9356c);
  background-image: -webkit-gradient(linear, left top, right top, from(#f61957), to(#f9356c));
  background-image: linear-gradient(to right, #f61957, #f9356c);
  -webkit-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
/* UNDER THE CTA - TIMELINE */

.timeline {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color:#502481;
  line-height: 18px;
  background: url(http://mrb.iwkz.de/images/timeline.png) no-repeat center 25%;
  z-index: 50;
  position: relative;
  padding: 0 50px;
}
.home2 .timeline {
  background:none;
}
.bullet {
  -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
  -ms-box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
  -o-box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
border-radius: 50%;
width: 80px;
height: 80px;
font-size: 20px;
font-weight: 700;
color:#f9356c;
text-align: center;
padding-top: 25px;
margin: 10px auto;
background:#fff;
position: relative;
z-index: 2;
-webkit-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.bullet:hover {
  -webkit-box-shadow: 0px 10px 25px rgba(0,0,0,0.25);
  -ms-box-shadow: 0px 10px 25px rgba(0,0,0,0.25);
  -o-box-shadow: 0px 10px 25px rgba(0,0,0,0.25);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.25);
}
.home2 .bullet {
  margin-top: 60px;
}
.bullet span {
  font-size: 10px;
  color:#502481;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 10px;
}
.timeline .col-lg:nth-of-type(2) {
  margin-top: 90px;
}
.timeline .col-lg:nth-of-type(3) {
  margin-top: 140px;
}
.timeline .col-lg:nth-of-type(4) {
  margin-top: 180px;
}
.timeline .col-lg:nth-of-type(5) {
  margin-top: 150px;
}
.timeline .col-lg:nth-of-type(6) {
  margin-top: 100px;
}
.home2 .timeline .col-lg:nth-of-type(1) .line {
  top:29px;
}
.home2 .timeline .col-lg:nth-of-type(1) p {
  font-weight: 700;
  text-transform: uppercase
}
.home2 .timeline {
  position: initial;
  height: 200px;
}
.home2 .hero {
  position: relative;
}
.home2 .timeline .col-lg {
  position:absolute;
  max-width: 25%;
}
.home2 .timeline .col-lg:nth-of-type(1) {
 left:0;
 top:-10px;
 margin-top: 0;
}

.home2 .timeline .col-lg:nth-of-type(2) {
  left:20%;
  top:-30px;
  margin-top: 0;
}
.home2 .timeline .col-lg:nth-of-type(3) {
  left:40%;
  top:-20px;
  margin-top: 0;
}
.home2 .timeline .col-lg:nth-of-type(4) {
  left:60%;
  top:-45px;
  margin-top: 0;
}
.home2 .timeline .col-lg:nth-of-type(5) {
  left:80%;
  top:-120px;
  margin-top: 0;
}
.home2 .timeline .col-lg:nth-of-type(5) .bullet {
  background: #f9356c;
  color:#fff;
  padding-top: 30px;
}

.timeline p {
  margin-top: 30px;
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 5px;
}
.home2 .timeline p {
  background: transparent;
  color:#fff;
  margin-top: -10px;
  font-weight: 400;
}
.home2 .timeline p span {
  font-size: 36px;
  display: block;
  margin-bottom: 14px;
  font-weight: 700;
}
.timeline .line {
  position: absolute;
  background:#f9356c;
  height: 51px;
  width: 1px;
  left: 50%;
  top: 80px;
  z-index: 1;
}
.home2 .timeline .line {
  background:#fff;
  top:60px;
}
.col.main-col, .main-col .bullet span {
  color:#f9356c
}
.home2 .col.main-col, .main-col .bullet span, .home2 .bullet span {
  color: #0946ab;
}

/* EXTRA INFO */

.expert-opinion {
  margin-top: 80px;
}
.extra-info .expert-opinion p {
  font-size: 14px;
  line-height: 22px;
}
.extra-info .description, .story .description {
  font-size: 20px;
  line-height: 30px;
}
.story .description {
  margin-bottom: 40px;
}
.extra-info .line, .story .line, .photo-gallery .line {
  background:#f9356c;
  height: 4px;
  width:80px;
  margin: 25px 0;
}
.photo-gallery .line {
  margin:25px auto;
}
.extra-info img.alignleft {
  margin-right: 20px;
  margin-bottom: 0px;
}
.extra-info img.alignleft:nth-of-type(2) {
  margin-top: 5px;
}

.donation-item {
  -webkit-box-shadow: 0px 1px 15px rgba(0,0,0,0.10);
  -ms-box-shadow: 0px 1px 15px rgba(0,0,0,0.10);
  -o-box-shadow: 0px 1px 15px rgba(0,0,0,0.10);
  box-shadow: 0px 1px 15px rgba(0,0,0,0.10);
padding:20px;
-webkit-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.donation-item:hover {
  -webkit-box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  -ms-box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  -o-box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
}
.comment-thumb {
  width: 80px;
height: 80px;
border-radius: 50%;
overflow: hidden;
float: left;
}
.donation-content {
  width: 57%;
float: left;
margin-left: 10px;
color:#f94072;
font-family: "Lato", sans-serif;
font-size: 36px;
font-weight: 900;
padding-top: 20px;
}
.donation-content i {
  font-size: 20px;
  float: right;
}
.donation-content h5 {
  font-size: 15px;
  font-weight: 700;
  color:#6e6e6e;
  margin-top: 13px;
}
.extra-info .donations .row {
  margin-bottom: 50px;
}
.extra-info .comment {
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
}
.donations h3 {
  text-align: right;
}
.donations .line {
  float: right;
  clear: both;
}
.donation-content:after {
  content: "";
  display: table;
  clear: both;
}

/* HOMEPAGE 2 GALLERY */
.photo-gallery {
  margin-top: 180px;
  text-align: center
}
.home2 .photo-gallery {
  margin-top: 0px;
}
.photo-gallery .description {
  
}
.photo-gallery h3 {
 width:100%;
}
.portfolioContainer {
  width: 100%;
}

.portfolioFilter {
  text-align: center;
  width: 100%;
  margin:20px auto 50px;
}
.portfolioFilter a { 
    margin-right: 10px; 
    color:#0946ab;
    text-decoration:none;
    display: inline;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    margin-right: 20px;
}
.portfolioFilter a::after {
  content: "/";
  position: absolute;
  width: 20px;
  color:#f6435d;
  margin-top: -3px;
}
 
.portfolioFilter a.current { 
    font-weight:800;
}

.photo-gallery img {
    margin:5px;
    width: 280px;
    height: auto;
}
 
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
 
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
       transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
}

/* MEDICAL PROOF */
.medical-proof {
  margin-top: 100px;
}
.under-secondary {
  margin-top: -120px;
  width: 100%;
}
.lb-outerContainer {
  margin: 15% auto 0 auto;
}
.medical-wrapper {
height: 450px;
text-align: center;
padding:70px;
color:#fff;
background: -webkit-gradient(linear, left top, left bottom, from(#6c1cd8), color-stop(#c05ed6), to(#f9356c));
background: -webkit-linear-gradient(top, #6c1cd8, #c05ed6, #f9356c);
background: -o-linear-gradient(top, #6c1cd8, #c05ed6, #f9356c);
background: linear-gradient(180deg, #6c1cd8, #c05ed6, #f9356c);
background-size: 600% 600%;
  
  -webkit-animation: AnimationName 23s ease infinite;
  animation: AnimationName 23s ease infinite;
}
@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@keyframes AnimationName { 
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
.home2 .medical-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#2e72e3), color-stop(#c05ed6), to(#f9356c));
  background: -webkit-linear-gradient(top, #2e72e3, #c05ed6, #f9356c);
  background: -o-linear-gradient(top, #2e72e3, #c05ed6, #f9356c);
  background: linear-gradient(180deg, #2e72e3, #c05ed6, #f9356c);
  background-size: 600% 600%;
  
  -webkit-animation: AnimationName 23s ease infinite;
  animation: AnimationName 23s ease infinite;
}


.medical-wrapper h4 {
  font-family: "PT Sans", sans-serif;
  font-size: 43px;
  text-transform: uppercase;
  font-weight: 700;
  color:#fff;
}
.home2 .medical-wrapper h4 {
  text-transform: none;
  line-height: 60px;
}
.medical-wrapper .description {
  width:60%;
  margin: 20px auto 30px auto;
  font-size: 20px;
line-height: 30px;

}
/* 88888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
@media (min-width: 991px) {
  #carrousel {
    margin-bottom: -150px;
  }
  .owl-carousel {
    margin-left: -66px;
  }
}
@media (max-width: 768px) {
  #carrousel {
    margin: 70px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  #carrousel {
    margin: 50px 0px 0px 0px;
  }
}

@media (min-width: 991px) {
  #carrousel .owl-carousel img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-box-shadow: 0px 10px 25px rgba(0,0,0,0.10);
    -ms-box-shadow: 0px 10px 25px rgba(0,0,0,0.10);
    -o-box-shadow: 0px 10px 25px rgba(0,0,0,0.10);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.10);
    border-radius: 5px;
  }
  #carrousel .owl-carousel .owl-item {
    height: 300px;
    position: relative;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transform: all .2s;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  #carrousel .owl-carousel .owl-item {
    height: 270px;
  }
}
@media (max-width: 380px) {
  #carrousel .owl-carousel .owl-item {
    height: 200px;
  }
}
  @media (min-width: 991px) {
  #carrousel .owl-carousel .owl-stage-outer {
    padding-bottom: 10px;
  }
  #carrousel .owl-item.big {
    -webkit-transform: scale(1);
            transform: scale(1);
    -ms-transform: scale(1);
    z-index: 3;
    min-width: 280px!important
  }
  #carrousel .owl-item.medium {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -ms-transform: scale(0.8);
    z-index: 2;
    min-width: 230px!important
  }
  #carrousel .owl-item.medium.mdright {
    position: relative;
    left: -30px;
  }
}
@media (min-width: 768px) {
  #carrousel .owl-item.medium.mdright {
    left: -60px;
  }
}
@media (min-width: 991px) {
  #carrousel .owl-item.medium.mdleft {
    /*border: solid 1px blue;*/
    position: relative;
    right: -30px;
  }
}
@media (min-width: 768px) {
  #carrousel .owl-item.medium.mdleft {
    right: -60px;
  }
}
@media (min-width: 991px) {
  #carrousel .owl-item.smallRight.active {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -ms-transform: scale(0.7);
    position: relative;
    left: -150px;
  }
  #carrousel .owl-item.smallLeft.active {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -ms-transform: scale(0.7);
    position: relative;
    right: -150px;
  }
  #carrousel .owl-nav {
    position: absolute;
    top: 30%;
    width: 100%;
  }
  #carrousel .owl-nav .owl-prev {
    position: absolute;
    left: 0px;
    top: 10px;
    background: transparent !important;
    color: #000 !important;
    font-size: 40px !important;
  }
  #carrousel .owl-nav .owl-prev:hover {
    color: #adadad !important;
  }
  #carrousel .owl-nav .owl-next {
    position: absolute;
    right: 0px;
    top: 10px;
    background: transparent !important;
    color: #000 !important;
    font-size: 40px !important;
  }
  #carrousel .owl-nav .owl-next:hover {
    color: #adadad  !important;
  }
}
/*888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

/* STORY */
.story .container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7fbff+0,ffffff+100 */
background: #f7fbff; /* Old browsers */ /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f7fbff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: -webkit-gradient(linear, left top, left bottom, from(#f7fbff),to(#ffffff));
background: -o-linear-gradient(top, #f7fbff 0%,#ffffff 100%);
background: linear-gradient(to bottom, #f7fbff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
padding:100px 50px 50px 50px;
}
.home2 .story .container {
  padding-top: 0px;
}
.story .col-4 h3 {
  text-align: right;
}
.story .col-4 .line {
  float:right;
}
.story .donation-item {
  background: #fff;
}
.story .comment {
  font-size: 14px;
  line-height: 22px;
}
.story .comment-thumb {
  margin-right: 20px;
}
.story .donation-item .alignleft {
  margin-bottom: 0px;
}
.story .donation-item {
  margin-bottom: 50px;
}
.story label {
  display: none;
}
.story img, .extra-info img {
  -webkit-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
transition: all 300ms ease-out;
}
.story img:hover, .extra-info img:hover {
  -webkit-box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  opacity: .8;
}
.story .alignright {
  margin:20px 0 20px 20px
}
.story .alignleft {
  margin:0px 20px 0px 0px
}
.story .comments {
  margin-top: 100px;
}
.form-group input, input, textarea, .form-control {
  background:#fff;
  border:1px solid #cae0f8;
  font-size: 12px;
}
textarea.form-control {
  min-height: 200px;
}
#submit {
  background-image: -webkit-gradient(linear, left top, right top, from(#f6435d), color-stop(51%, #EA384D), to(#f9356c));
  background-image: -webkit-linear-gradient(left, #f6435d 0%, #EA384D 51%, #f9356c 100%);
  background-image: -o-linear-gradient(left, #f6435d 0%, #EA384D 51%, #f9356c 100%);
  background-image: linear-gradient(to right, #f6435d 0%, #EA384D 51%, #f9356c 100%);
  border:none;
  color:#fff;
  border-radius: 5px;
  width: 100%;
  font-size: 17px;
  cursor: pointer;
  padding: 20px 0;  
  font-weight:700;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
}
.home3 #submit {
  font-size: 34px;
  font-weight: 700;
}
#submit i {
  padding-right: 10px;
}
#submit span {
  font-size: 18px;
font-family: "Lato", sans-serif;
text-transform: lowercase;
font-weight: 300;
display: block;
line-height: 10px;
padding-left: 40px;
padding-top: 10px;
}
.story ul {
  padding-left: 0px;
}
.story ol {
  padding-left: 15px;
}
.storyt ol ul {
  padding-left: 15px;
}
.story ul ol {
  padding-left: 35px;
}
.story ul li {
  list-style: none;
  position: relative;
  padding-left: 20px;
}
.story ul li ol li {
  list-style: decimal;
  padding-left: 0px;
}
.story ul li::before {
  font-family: "FontAwesome";
  content: "\f069";
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 12px;
  color: #a189be;

}

/*FOOTER */
footer {
  padding: 10px;
  background: #6c1cd8;
  margin-top: 50px;
  color:rgba(255, 255, 255, 0.5);
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}
.home2 footer {
  background: #2970e5;
}

/* RESPONSIVE */
@media (max-height:977px) {

  .choice {
    margin: 10px 0;
  }
  .donation-amount {
    margin-top: 20px;
  }
  .home3 form {
    margin-top: 20px;
  }
}
@media (max-height:865px) {
  .donation-amount label {
    font-size: 17px;
    padding:5px;
  }
  .donation-amount label.after-input {
    padding: 4px;
  }
  .form-group input, input, textarea, .donate .form-group textarea {
    padding: 5px 15px;
  }
  textarea.form-control {
    min-height: 150px;
  }
}
@media screen and (max-width: 578px) , screen and (max-height: 700px) {
  .home3 .image-header {
    max-height: inherit
  }
  body.home3 {
    height: inherit
  }
}

@media (max-width: 1776px) {  
  .timeline .col-lg:nth-of-type(1) {
    margin-top: 2%;
  }
  .timeline .col-lg:nth-of-type(2) {
    margin-top: 8%;
  }
  .timeline .col-lg:nth-of-type(3) {
    margin-top: 11%
  }
  .timeline .col-lg:nth-of-type(4) {
    margin-top: 8%;
  }
  .timeline .col-lg:nth-of-type(5) {
    margin-top: 2%;
  }
}
@media (max-width: 1620px) {  
  .timeline .col-lg:nth-of-type(1) {
    margin-top: 4%;
  }
  .timeline .col-lg:nth-of-type(2) {
    margin-top: 9%;
  }
  .timeline .col-lg:nth-of-type(3) {
    margin-top: 12%
  }
  .timeline .col-lg:nth-of-type(4) {
    margin-top: 9%;
  }
  .timeline .col-lg:nth-of-type(5) {
    margin-top: 4%;
  }
   .main-image img {
    margin-left: -10%;
  }
  .help-us .button, .help-us .share {
    margin-top: 80px;
  }
 
}
@media (max-width: 1490px) {  
  .timeline .col-lg:nth-of-type(1) {
    margin-top: 6%;
  }
  .timeline .col-lg:nth-of-type(2) {
    margin-top: 11%;
  }
  .timeline .col-lg:nth-of-type(3) {
    margin-top: 14%
  }
  .timeline .col-lg:nth-of-type(4) {
    margin-top: 11%;
  }
  .timeline .col-lg:nth-of-type(5) {
    margin-top: 6%;
  }
  .main-image img {
    margin-left: -10%;
  }
  .help-us {
    margin-bottom:180px;
  }
 
}
@media (max-width: 1390px) {  
  
  .comment-thumb {
    width:50px;
    height: 50px;
  }
  .container-fluid .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .story .container-fluid .container, .medical-proof .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .cta h2 {
    font-size: 53px;
    margin-bottom: 30px;
  } 
  .cta .justify-content-end .col-7 {
    padding-left: 50px;
  }
  .navbar-light .navbar-nav {
    font-size: 13px;
  }
  .donation-content {
    font-size: 26px;
    padding-top: 5px;
    width: 66%;
  }
  .donation-content h5 {
    font-size: 14px;
    margin-top: 5px;
  }
  .donation-content i {
    font-size: 15px;
  }
  .extra-info .comment {
    margin-top: 5px;
  }
  .sup-progress::after {
    top:286px;
  }
  .navbar-light .navbar-nav {
    font-weight: 400;
  }
  .cta h2 {
    font-size: 42px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: .1rem;
    padding-right: .1rem;
  }
  .timeline .col-lg:nth-of-type(1) {
    margin-top: 10%;
  }
  .timeline .col-lg:nth-of-type(2) {
    margin-top: 15%;
  }
  .timeline .col-lg:nth-of-type(3) {
    margin-top: 19%
  }
  .timeline .col-lg:nth-of-type(4) {
    margin-top: 15%;
  }
  .timeline .col-lg:nth-of-type(5) {
    margin-top: 12%;
  } 
  .owl-carousel {
    margin-left: -10%;
  }
  .home2 .cta h2 {
    font-size: 40px;
  }
  .home2 .timeline p span {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .photo-gallery img {
    width: 400px;
  }
 
}
@media (max-width: 1250px) { 
  
  .main-image img {
    margin-left: -18%;
    top:10%;
  }
  .cta {
    padding-top: 150px;
  }
  .donation-content {
    width: 100%;
  }
  .extra-info .comment-thumb {
    width: 80px;
    height: 80px;
    float: none;
    margin: 0 auto 10px auto;
  }
  .donation-content{
    width: 100%;
    text-align: center
  }
  .extra-info .comment {
    text-align: center
  }
  .donation-content i {
    float: none;
    font-size: 22px;
  }
  .extra-info img.alignleft {
    margin-right: 5px;
    float: none;
  }
  .extra-info .expert-opinion img.alignleft {
    float: left;
    margin-right: 20px;
  }
  .donation-item.margin-right {
    margin-right:0px;
  }
  .donation-item.margin-left {
    margin-left:0px;
  }
  .navbar-brand {
    margin-right: 1rem
  }
  .image-header {
    border-bottom: 40px solid #fff;
  }
  .home2 .main-image img {
    margin-left: 0px;
    top:15%;
    left: -10%;
  }
  .donation-amount label {
    font-size: 17px;
    padding:5px;
  }
  .donation-amount label.after-input {
    padding: 4px;
  }
  .donation-amount label.after-input input {
    font-size: 17px;

  }
  .switch-label {
    font-size: 15px;
  }

}

@media (max-width: 1199px) {
  .button {
    width: 170px;
  }
  .button i {
    display: none;
  }
  .help-us .button a {
    font-size: 19px;
  }
  .help-us .button{
    padding: 10px;
  }
  .help-us .button a span {
    padding-left: 0px;
    line-height: 15px;
  }
  .help-us .share li a {
    font-size: 20px;
  }
 
  h3 {
    font-size: 33px;
  }
  .timeline{
    font-size: 13px;
    line-height: 15px;
  }
  .timeline .col-lg:nth-of-type(1) {
    margin-top: 13%;
  }
  .timeline .col-lg:nth-of-type(2) {
    margin-top: 17%;
  }
  .timeline .col-lg:nth-of-type(3) {
    margin-top: 21%
  }
  .timeline .col-lg:nth-of-type(4) {
    margin-top: 17%;
  }
  .timeline .col-lg:nth-of-type(5) {
    margin-top: 15%;
  }
  .help-us{
    margin-bottom: 150px;
  }
  .owl-carousel {

    margin-left: 0%;

  }
  #carrousel .owl-nav .owl-prev {
    left: 15%;
  } 
  #carrousel .owl-nav .owl-next {
    right: 15%;
  }
  #carrousel .owl-nav {
    top:20%;
  }
  .home2 .cta h2 {
    margin-top: 10px;
  }
  .home2 .timeline .col-lg:nth-of-type(5) {
    top:-115px;
  }
  .home2 .cta p {
    font-size: 16px;
    line-height: 24px;
  }
  .home3 h2 {
    font-size: 40px;
  }
  .home3 #submit {
    font-size: 26px;

  }
  #submit span {
    font-size: 14px;
  }
}

@media (max-width: 1110px) {
  .navbar .button.gradient a {
    padding: 7px 5px
  }
  .navbar .button {
    width: 120px;
  }
  .extra-info {
    margin-top: 50px;
  }
  .medical-proof {
    margin-top: 50px;
  }
  .help-us .share li a {
    padding-right: 10px;
  }
  .navbar-light .navbar-nav {
    font-size: 12px;
  }
  .button{
    font-size: 13px;
  }
  .navbar .button {
    width: 90px;
  }
  .main-image img {
    margin-right: -23%;
  }
  #carrousel .owl-nav .owl-next {
    right:10%;
  }
  #carrousel .owl-nav .owl-prev {
    left: 13%;
  }
}
@media (max-width: 1072px) { 
  .sup-progress::after {
    top: 315px;
}
}
@media (max-width: 991px) { 
  .navbar-brand img {
    width: 100%;
  }
 
  .cta .row.justify-content-end {
    background: rgba(108, 28, 216, .8);
    position: relative;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
  }
  .home2 .cta .row.justify-content-end {
    z-index: 3;
  }

  .under-hero {
    z-index: 2;
  }
  .help-us {
    margin-bottom: 80px;
  }
  .help-us .button {
    margin-left: 15%;
  }
  .timeline .col-lg:nth-of-type(1) {
    margin-top: 0px;
  }
  .timeline .col-lg:nth-of-type(2) {
    margin-top: 0px;
  }
  .timeline .col-lg:nth-of-type(3) {
    margin-top: 0px
  }
  .timeline .col-lg:nth-of-type(4) {
    margin-top: 0px;
  }
  .timeline .col-lg:nth-of-type(5) {
    margin-top: 0px;
  }
  .timeline .col-lg:nth-of-type(6) {
    margin-top: 0px;
  }
  .timeline .col-lg:nth-of-type(7) {
    margin-top: 0px;
  } 
  .timeline {
    background: none;
    margin-top: -50px;
  }
  .timeline .col-lg {
    margin-bottom: 30px;
  }
  .donations{
    margin-top: 100px;
    text-align: center
  }
  .donations h3 {
    text-align: center;
  }
  .donations .line {
    float: none;
    clear: both;
    margin:20px auto;
  }
 
  .owl-carousel {
    margin-left: auto;
    margin-top: -50px;
  }
  
  .sup-progress::after {
    top: 286px;
  }
  #carrousel .owl-item.medium.mdleft {
    right: 10px;
  }
  #carrousel .owl-item.medium.mdright {
    left: 10px;
  }
  .owl-carousel {
    margin-top: 0px;    
  }
  #carrousel .owl-carousel img {
    -o-object-fit: cover;
       object-fit: cover;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0px 10px 25px rgba(0,0,0,0.10);
  -ms-box-shadow: 0px 10px 25px rgba(0,0,0,0.10);
  -o-box-shadow: 0px 10px 25px rgba(0,0,0,0.10);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.10);
  border-radius: 5px;
  }
  
  .navbar-nav {
    -webkit-box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  -ms-box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  -o-box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  }
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#970016;
  }
  .fixed-top.navbar-light .navbar-nav .active > .nav-link, .fixed-top.navbar-light .navbar-nav .nav-link.active, .fixed-top.navbar-light .navbar-nav .nav-link.show, .fixed-top.navbar-light .navbar-nav .show > .nav-link, .fixed-top.navbar-light .navbar-nav .nav-link:focus, .fixed-top.navbar-light .navbar-nav .nav-link:hover {
    color:#f6435d ;
  }

  .collapse {
    position: relative;
  }
  .navbar-light .navbar-nav {
    font-size: 13px;
  }
  .navbar-nav {
    background:#f6435d;
  }
  .fixed-top .navbar-nav {
    background:transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .owl-carousel .owl-item img {
    width: 90%;
  }
  .medical-wrapper {
    padding: 70px 15px;
  }
  #carrousel .owl-carousel img {
    -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,0.10);
  -ms-box-shadow: 0px 5px 15px rgba(0,0,0,0.10);
  -o-box-shadow: 0px 5px 15px rgba(0,0,0,0.10);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.10);
  }
  .owl-carousel .owl-stage-outer{
    padding-bottom:50px;
  }
  .donation-item {
    padding: 40px;
  }
  .extra-info .padding-right {
    padding-right: 0px;
  }
 
  .navbar .button {
    width: 120px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    background: rgba(108, 28, 216, 1);
    border:none;
    width: 30%;
    padding-left: 10px;
  }
  .dropdown-item {
    color:#fff;
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
  }
  .dropdown-item:focus, .dropdown-item:hover {
    background-image:none;
    background: #6c1cd8;
    opacity: 0.5
  }
  .home3 .description {
    display: none;
  }
  .home3 h2{
    margin-top: 20px;
  }
  .switch-label {
    font-size: 18px;
  }
  .donation-amount label {
    font-size: 25px;
    padding: 15px;
  }
  .donation-amount label.after-input {
    padding: 14px;
  }
  .donation-amount label.after-input input {
    font-size: 23px;
  }
  .home2 .cta .row.justify-content-end {
    background:rgba(59, 118, 217, 0.8);
  }
  .home2 .navbar-expand-lg .navbar-nav .dropdown-menu {
    background: #3b76d9
  }
  .home2 .dropdown-item:focus, .home2 .dropdown-item:hover {
    background: #3b76d9
  }
  .home2 .timeline {
    z-index: 3;
    margin-bottom: -250px;
    position: relative;
  }
  .home2 .photo-gallery {
    margin-top: 250px;
  }
  .home2 .main-image img {
    top:10%;
  }
  .home2 .timeline .col-lg:nth-of-type(1) {
    top:20px;
  }
  .home2 .timeline .col-lg:nth-of-type(2), .home2 .timeline .col-lg:nth-of-type(3), .home2 .timeline .col-lg:nth-of-type(4), .home2 .timeline .col-lg:nth-of-type(5) {
    top:0px;
  }
  .home2 .under-hero {
    border-bottom: 150px solid #fff;;
  }
  .home2 .timeline p {
    color: #0946ab;
  }
  .home2 .timeline .line {
    background: #0946ab;
  }
  .home2 .timeline .col-lg:nth-of-type(5) p {
    color:#f9356c
  }
  .home2 .timeline .col-lg:nth-of-type(5) .line {
    background:#f9356c
  }
  .home2 .cta .row.justify-content-end {
    padding:20px;
  }
 
 }


#dokumentasi-card-container {
  display: flex;
}

.dokumentasi {
  margin-right: 20px !important;
}


@media (max-width: 850px) { 
  #dokumentasi-card-container {
    flex-direction: column;
  }

  .dokumentasi {
    min-width: 500px;
  }
}


@media (max-width: 798px) { 
  .image-header {
    border-bottom: 80px solid #fff;
  }
  .help-us {
    margin-bottom: 30px;
  }

}
@media (max-width: 768px) {
  .container-fluid {
    padding-right: inherit;
    padding-left: inherit;
    margin-top: inherit;
  }
  .home3 .container-fluid {
    padding-right: 7%;
    padding-left: 7%;
  }
  .container-fluid .container {
    padding-left: inherit;
    padding-right: inherit;
  }
  .container {
    max-width: 90%;
  }
  .fixed-top {
    width: 100%;
  }
  /* #carrousel .owl-item {
    max-width: 200px
  } */
  #carrousel .owl-item.medium.mdright {
    left: inherit;  
  }
  .medical-wrapper .description {
    width:100%;
  }
  .story .container .row {
    margin-right:10px;
    margin-left: 10px;
  }
  .home2 .bullet {
    width: 50px;
    height: 50px;
    font-size: 15px;
    padding-top: 12px;
  }
  .home2 .timeline p span {
    font-size: 15px;
  }
  .home2 .timeline .col-lg:nth-of-type(5) .bullet {
    padding-top: 15px;
  }
  
}
@media (max-width: 640px) { 
  .help-us .button {
    margin-left: 6%;
  }
  .sup-progress::after {
    top: 312px;
  }
  .donation-amount label {
    font-size: 17px;
    padding: 5px;
  }
  .donation-amount label.after-input {
    padding: 4px;
  }
  .donation-amount label.after-input input {
    font-size: 17px;
  }
  .switch-label {
    font-size: 15px;
  }
 
 

}
@media (max-width: 592px) {  
  .help-us .button {
    margin-left: 0%;
  }
  .cta h2 {
    font-size: 32px;
  }
  .cta {
    font-size: 16px;
    line-height: 23px;
  }
  .sup-progress::after {
    top: 262px;
  }
  .sup-progress {
    font-size: 33px;
  }
}
@media (max-width: 576px) {   
  .donations .donation-item {
    margin-bottom: 50px;
  }
  .extra-info .donations .row {
    margin-bottom: 0px;
  }
  .sup-progress::after {
    top: 285px;
  }
  .cta .row.justify-content-end {
    padding: 20px 40px;
  }
  .help-us .button, .help-us .share {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .help-us .button a {
    font-size: 15px;
  }
  .help-us .button a span {
    display: none;
  }
  .help-us .button {
    width: 120px;
  }
  .help-us .share {
    width:60%;
  }
  .home2 .under-hero {
    border-bottom: 200px solid #fff;
}
}
@media (max-width: 480px) {
  .help-us .share {
    width: 100%;
    padding-left: 0px;
    margin-top: 20px;
  }
  .help-us .button {
    margin-bottom:0px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 170px;
    margin-top: 20px;
  }
  .help-us .button a span {
    display: block;
  }
  .help-us .button a {
    font-size: 19px;
  }
  .cta .alignleft, .cta .alignright {
    float: none;
  }
  .sup-progress .alignright span {
    text-align: center;
    font-size: 15px;
    display: inline;
  }
  .sup-progress .alignright {
    margin:20px 0 20px 0;
    font-size: 16px;
  }
  .sup-progress::after {
    display: none;
  }
  .cta .row.justify-content-end {
    padding: 20px 10px;
  }
  #updatessupporters img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .progress {
    margin-top: 30px;
  }



  .dokumentasi {
    min-width: 400px;
  }
}
@media (max-width: 435px) {  
  .under-secondary {
    margin-top: -90px;
  }
  .medical-wrapper .description {
    font-size: 18px;
    line-height: 25px;
  }
  .medical-wrapper h4 {
    font-size: 33px;
  }
  #carrousel {
    margin-top: 120px;
  }
  .home2 .timeline {
    display: none;
  }
  .home2 .photo-gallery {
    margin-top: 0px;
}

}
@media (max-width: 378px) { 
  .switch-label {
    font-size: 12px;
    text-transform: uppercase;
  }


  .dokumentasi {
    min-width: 300px;
  }
}

@media (max-width: 700px) {
  .main-image {
    display: none;
  }
  .navbar-brand {
    width: 55% !important;
  }
  .navbar-brand img {
    width: 100%;
  }
}

.order button {
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}